#about-container {
    min-height: 482%;
    padding-top: 16px;

    background-image: url("../Images/ItachiBlackAndWhite.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    margin: 0px;
}