h1 {
    color: #e3e4b2;
}

p {
    margin: 0px;
}

#page-not-found-container {
    min-height: 100%;
    padding-top: 16px;
    background-image: url("../Images/Backgrounds/cool-honeycomb-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}