a {
    color: khaki;
}

#main-header {
    height: 100%;
    text-align: center;
}

#header-content {
    color: khaki;
    height: 17%;
    background-image: url("../Images/NarutoAndBleach.gif");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
}

h1 {
    margin-top: 0px;
}