#school-container {
    min-height: 100%;
    padding-top: 16px;
    background-image: url("../Images/Backgrounds/cool-honeycomb-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#school-main-text {
    color: #e3e4b2;
    margin-left: 5%;
    margin-right: 45%;
    font-size: 2em;
    text-align: left;
}

p {
    /* margin: 0px; */
}