.media-container {
    margin-left: 30%;
    margin-right: 30%;
}

#media-gmail {
    background-image: url("../../assets/Images/Icons/GmailIcon.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

#media-linkedin {
    background-image: url("../../assets/Images/Icons/LinkedInIcon.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

#media-github {
    background-image: url("../../assets/Images/Icons/GithubIcon.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

#media-instagram {
    background-image: url("../../assets/Images/Icons/InstagramIcon.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}