.media-container {
    margin-left: 30%;
    margin-right: 30%;
}

#media-linkedin {
    background-image: url("../Images/Icons/LinkedInIcon.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

#media-github {
    background-image: url("../Images/Icons/GitHubIcon.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

#media-instagram {
    background-image: url("../Images/Icons/InstagramIcon.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}