<div id="about-container">
    <div id="about-main-text">
        <p>
            My name is Matthew Arteaga.  I'm a curious young adult taking life one day at a time.  Some things to know about me: 
        </p>
        <ul>
            <li>I enjoy watching anime</li>
            <br>
            <li>I played baseball for 11 years</li>
            <br>
            <li>Catch me playing Video Games on my PC</li>
            <br>
            <li>You can also find me anywhere the weather is warm</li>
            <br>
            <li>I've thankfully never had to put my second-degree black belt to use</li>
            <br>
            <li>All things software/hardware/machine-learning intrigue me</li>
        </ul>
        <div style="text-align:center">
            <h2>
                Let's Connect:
            </h2>
            <h3>
                mjarteaga2019@gmail.com
            </h3>
            <social-media></social-media>
        </div>
    </div>
</div>