<div id="about-container">
    <div id="about-main-text">
        <p>
            My name is <span class="notable-word">Matthew Arteaga</span>. I'm a curious young adult taking life one day
            at a time. Some things to know about me:
        </p>
        <ul>
            <li>I enjoy watching anime</li>
            <li>I played baseball for 11 years</li>
            <li>Catch me gaming on my PC</li>
            <li>You can also find me wherever the weather is warm</li>
            <li>All things technology intrigue me</li>
        </ul>
    </div>
    <div id="about-image-container">
        <img src="../../assets/Images/Pictures/graduation-picture-zoomed.jpg" alt="Graduation" width="304px"
            height="648px" />
    </div>
    <div id="clear">
        <br>
        <div style="text-align:center">
            <h2>
                Let's Connect:
            </h2>
            <h3>
                mjarteaga2019@gmail.com
            </h3>
            <social-media></social-media>
        </div>
    </div>
</div>