<div id="school-container">
    <div id="school-main-text">
        <p>
            I am a sophomore student at the <span class="notable-word">University of Michigan Dearborn</span>, majoring
            in <span class="notable-word">Computer Engineering</span>. I have enjoyed software/coding
            ever since I was introduced to it in high school. Now I hope that I can pursue a career in <span
                class="notable-word">software
                development</span>, or alternatively,
            an engineering position in the realm of <span class="notable-word">AI/Machine-Learning</span>.

        </p>
    </div>
    <div id="school-image-container">
        <img src="../../assets/Images/Pictures/UMD-CECS-image.png" alt="U of M Dearborn" width="650px" height="364px" />
    </div>
    <div id="clear">
        <br>
        <div style="text-align:center">
            <h2>
                Let's Connect:
            </h2>
            <h3>
                mjarteaga2019@gmail.com
            </h3>
            <social-media></social-media>
        </div>
    </div>
</div>